{%  extends 'info/main.html' %}


{% block content %}

<br>

    <h2>What is a ToDo List?*</h2>
    <p>The definition is a simple one. It's a list of tasks you need to complete, or things that you want to do. Most typically, they're organised in order of priority. Traditionally, they're written on a piece of paper or post it notes and acts as a memory aid.</p>

    <h2>What are the benefits of a To Do list?*</h2>
    <p>A to-do list tracks your progress. Using a to-do list enables you to mark off the tasks you have completed. At the end of the day, when you look at the list, it will give you a sense of accomplishment and satisfaction. It might also have the effect of waking you up if nothing has been marked completed.</p>

{% endblock %}

{% block footer %}
    <p><small> * : Writen from other websites</small></p>
    <p><small>Only for learning purpose</small></p>
{% endblock %}