{% load static %}

<style>
    .hello-msg{
        font-size: 18px;
        color: #fff;
        margin-right: 20px;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        {% if request.user.is_staff %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
      </li>
        {% else %}
        <li class="nav-item">
        <a class="nav-link" href="{% if request.user.is_authenticated %} {% url 'dashboard' %} {% else %} {% url 'home' %} {% endif %}">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'account' %}">Settings</a>
        </li>
        {% endif %}
        {% if request.user.is_authenticated %}
        {% else %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        {% endif %}

        {% endif %}
    </ul>
  </div>
    <span class="hello-msg">Hello, {% if request.user.is_authenticated %} {{request.user}} {% else %} Guest {% endif %}</span>
    {% if request.user.is_authenticated %}<span><a class="hello-msg" href="{% url 'logout' %}">Logout</a></span>{% endif %}
</nav>